<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <script src="../static/bootsrap/js/jquery-3.4.0.js"></script>
    <script src="../static/bootsrap/js/popper.min.js"></script>
    <script src="../static/bootsrap/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../static/bootsrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/bootsrap/css/styles.css">
</head>
<body>

    <div class="su-div1">
    <h1 class="text-center text-white">Shoe-ShopKe</h1>
    </div>
    <div class="signup">
        <h1 class="text-center text-dark mb-2">Sign Up</h1>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6 ">
                {% for message in get_flashed_messages() %}
                    <p class="text-success text-center">{{ message }}</p>
                {% endfor %}

                <form method="post" action="">
                    <input type="text" name="jina" placeholder="Enter name" class="form-control"><br>
                    <input type="email" name="arafa" placeholder="Enter email" class="form-control"><br>
                    <input type="password" name="siri" placeholder="Enter password" class="form-control"><br>
                    <input type="submit" value="Sign Up" class="btn btn-info btn-block">
                    <a class="btn btn-success btn-block" href="/login">Have an account? Login.</a>
                </form>
            </div>
            <div class="col-3"></div>
        </div>
        <br>
    </div>

    <div class="su-div2">
    <h3 class="text-center text-white">Our mission</h3><br>
    <h5 class="text-center text-white">To provide affordable, and unmatched selection of products.</h5>
    </div>

</body>
</html>